<app-navbar-homepage></app-navbar-homepage>
<!-- navi wrapper End -->
<!-- slider wrapper start -->
<div class="slider-area float_left" style="margin-top: 50px !important;">


</div>
<!-- slider wrapper End -->
<!--about us wrapper start -->
<div class="about_us_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img src="assets/images/404.png" width="1000"  alt="404-image">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<!-- FAQ wrapper end -->
<!-- footer section start-->
<app-footer></app-footer>
<!-- footer section end-->
