<div class="l-sidebar">
  <div class="l-sidebar__content">
    <nav class="c-menu js-menu" id="mynavi">

      <ul class="u-list crm_drop_second_ul">
        <li class="crm_navi_icon">
          <div class="c-menu__item__inner"><a routerLink="/dashboard"><i class="flaticon-profile"></i></a>
          </div>
        </li>
        <li class="c-menu__item crm_navi_icon_cont">
          <a routerLink="/dashboard">
            <div class="c-menu-item__title">Dashboard</div>
          </a>
        </li>
      </ul>

      <!-- <ul class="u-list crm_drop_second_ul">
        <li class="crm_navi_icon">
          <div class="c-menu__item__inner"><a routerLink="/referrals"><i class="flaticon-profile"></i></a>
          </div>
        </li> -->
        <!-- <li class="c-menu__item crm_navi_icon_cont">
          <a routerLink="/referrals">
            <div class="c-menu-item__title">Referrals</div>
          </a>
        </li> -->
      <!-- </ul> -->
      <ul class="u-list crm_drop_second_ul">
        <li class="crm_navi_icon">
          <div class="c-menu__item__inner"><a routerLink="/activate-account"><i class="flaticon-profile"></i></a>
          </div>
        </li>
        <li class="c-menu__item crm_navi_icon_cont">
          <a routerLink="/activate-account">
            <div class="c-menu-item__title">Activate Account</div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
